:root {
  --clr-dark: rgb(19, 18, 23);
  --clr-light: rgb(234, 234, 234);

  --clr-screen: rgb(72, 72, 85);

  --clr-seat: rgb(157, 163, 179);
  --clr-accent: rgb(240, 197, 13);
  --clr-taken: rgb(48, 46, 58);
  
  --clr-checkout: rgb(46, 157, 105, 0.9);
  --clr-checkout-hover: rgba(46, 157, 105, 0.7);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background: var(--clr-dark);
  color: var(--clr-light);
}

.container {
  width: 80%;
  max-width: 450px;
  margin: 0 auto;
  display: grid;
  place-items: center;
  row-gap: 3rem;
  padding-block: 2rem;
}

.page-title {
  font-size: 2rem;
  font-weight: 700;
}

.label {
  font-size: 1rem;
  display: grid;
  place-items: center;
  gap: 0.25rem;
}

.select {
  background: var(--clr-light);
  color: var(--clr-dark);
  border-radius: 0.25rem;
  padding: 0.25rem 1rem;
  border: none;
}

.price {
  color: var(--clr-accent);
}

.legend {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  width: 100%;
  padding-block: 1rem;
  border-block: 1px solid rgb(157, 163, 179, 0.3);
  font-size: 0.875rem;
}

.legend-group {
  display: grid;
  place-items: center;
  row-gap: 0.25rem;
}

.room {
  width: 100%;
  display: grid;
  place-items: center;
  row-gap: 4rem;
}

.screen {
  background: var(--clr-screen);
  height: 5rem;
  width: 100%;
  box-shadow: 0 3px 5px 2px rgba(72, 72, 85, 0.4);
}

.seats {
  width: 100%;
  display: grid;
  row-gap: 1rem
}

.row {
  width: 100%;
  display: flex;
  gap: clamp(1rem, 5vw, 2rem);
  align-items: center;
  justify-content: center;
}

.seat-group {
  display: flex;
  gap: clamp(0.25rem, 2.25vw, 0.5rem);
}

.seat-container {
  --size: clamp(0.8rem, 4vw, 1.5rem);
  height: var(--size);
  width: var(--size);
  cursor: pointer;
  user-select: none;
  position: relative;
}

.seat-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.seat-checkbox:disabled {
  cursor: not-allowed;
}

.seat {
  background: var(--clr-seat);
  --top-border-radius: 20%;
  border-top-left-radius: var(--top-border-radius);
  border-top-right-radius: var(--top-border-radius);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.seat-checkbox:focus + .seat {
  box-shadow: 0 0 5px currentColor;
}

.seat-checkbox:checked + .seat {
  background-color: var(--clr-accent);
  color: var(--clr-accent);
}

.seat-checkbox:disabled + .seat {
  background: var(--clr-taken);
}

.legend-seat {
  position: static;
  --size: 1.5rem;
  height: var(--size);
  width: var(--size);
}

.taken {
  background: var(--clr-taken);
}

.selected {
  background: var(--clr-accent);
}

.checkout,
.checkout-btn {
  width: 100%;
}

.btn {
  border-radius: 100rem;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.checkout-btn {
  padding: 1em 2em;
  color: inherit;
  background: var(--clr-checkout);
  font-size: 1.25rem;
  letter-spacing: 0.05rem;
  word-spacing: 0.5rem;
}

.checkout-btn:hover {
  background: var(--clr-checkout-hover);
}

.reset-btn {
  padding: 0.5em 1.25em;
  background: var(--clr-accent);
  font-weight: 600;
  color: var(--clr-dark);
}

.reset-btn:hover {
  opacity: 0.8;
}